.submit-btn {
  all: unset;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
  border-left: 1px solid lightgray;
  background-color: rgba(211, 211, 211, 0.252);
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  display: flex;
  align-items: center;
}

.submit-btn:hover {
  background-color: rgba(211, 211, 211, 0.344);
}

.submit-btn:disabled {
  pointer-events: none;
}

.search-form {
  border: 1px solid lightgray;
  width: 50%;
  border-radius: 9999px;
  margin: 50px auto 0;
  display: flex;
  align-items: center;
}
.emails-container {
  width: 50%;
}

.filtered-email {
  padding: 5px 10px;
  transition: background-color 100ms ease-in-out;
}

.filtered-email:hover {
  background-color: lightgray;
}

@media (max-width: 768px) {
  .search-form {
    width: 70%;
  }
  .emails-container {
    width: 70%;
  }
}
