section {
  height: 600px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.first-section {
  background-color: red;
}
.second-section {
  background-color: orange;
}
.third-section {
  background-color: yellow;
}
.fourth-section {
  background-color: green;
}
.fifth-section {
  background-color: blue;
}
