section {
  height: 600px;
  font-size: 2rem;
  font-weight: bold;
}

.btn {
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 1.1rem;
  transition: opacity 150ms ease-in-out;
  margin-bottom: 50px;
}

.btn:hover {
  opacity: 80%;
}

.first-section {
  background-color: red;
}
.second-section {
  background-color: orange;
}
.third-section {
  background-color: yellow;
}
.fourth-section {
  background-color: green;
}
.fifth-section {
  background-color: blue;
}
