.scroll-btn {
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 1.1rem;
  transition: opacity 150ms ease-in-out;
}

.scroll-btn:hover {
  opacity: 80%;
}
